<section>
    <a [routerLink]="'/administradores-admin'">Volver</a>
    <form [formGroup]="formulario" (ngSubmit)="editarAdministrador()">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" formControlName="email">
        <label for="telefono">Telefono: </label>
        <input type="tel" name="telefono" id="telefono" formControlName="telefono">
        <label for="clave">Clave:</label>
        <input type="password" name="clave" id="clave" formControlName="clave">
        <button type="submit">Editar administrador</button>
    </form>
</section>