<section>
    <h2>Nuevo turno: </h2>
    <form action="">
        <select name="servicio" id="servicio">
            <option value="" disabled selected>Servicio</option>
            <option value="corte">Corte</option>
            <option value="barba">Barba</option>
            <option value="color">Color</option>
            <option value="corte y barba">Corte y barba</option>
            <option value="corte y color">Corte y color</option>
            <option value="barba y coor">Barba y color</option>
            <option value="Corte, barba y color">Corte, barba y color</option>
        </select>
        <label for="horario">Horario: </label>
        <input type="datetime-local" name="horario" id="horario">
    </form>
</section>