<section>
  <a class="volver" [routerLink]="'/home'">Volver</a>
  <h2>Nuevo turno:</h2>
  <form (ngSubmit)="generarTurno()" [formGroup]="formulario">
    <label for="servicio">Servicio</label>
    <select name="servicio" id="servicio" formControlName="servicio">
      @for (item of servicios(); track $index) {
        <option [ngValue]="item">{{ item.tipo }}</option>
      }
    </select>
    <label for="horario">Horario: </label>
    <input type="datetime-local" name="horario" id="horario" formControlName="fechaHoraInicio" />
    <button type="submit">Solicitar turno</button>
  </form>
</section>
