<section>
  <a [routerLink]="'/home'">Volver</a>
  <h2>Nuevo turno:</h2>
  <form (ngSubmit)="generarTurno()" [formGroup]="formulario">
    <select name="servicio" id="servicio" formControlName="servicio">
      <option value="" disabled selected>Servicio</option>
      @for (item of servicios(); track $index) {
        <option [ngValue]="item">{{ item.tipo }} - {{ item.duracionMinutos }} minutos</option>
      }
    </select>
    <label for="horario">Horario: </label>
    <input type="datetime-local" name="horario" id="horario" formControlName="fechaHoraInicio" />
    <button type="submit">Solicitar turno</button>
  </form>
</section>
