<section>
    <form [formGroup]="formulario">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" formControlName="email" [class.invalid]="hayError('email')">
        @if (hayError('email')) {
            <p class="field-error">{{ mensajeCampo('email') }}</p>
        }
        <label for="clave">Clave: </label>
        <input type="password" name="clave" id="clave" formControlName="clave" [class.invalid]="hayError('clave')">
        @if (hayError('clave')) {
            <p class="field-error">{{ mensajeCampo('clave') }}</p>
        }
        <button type="button" (click)="onLogin()">LogIn</button>
    </form>
</section>