<section>
    <a class="volver" [routerLink]="'/home-peluquero'">Volver</a>
    <div class="table-wrapper">
    <table>
        <thead>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
        </thead>
        <tbody>
            @for (item of clientes(); track $index) {
            <tr>
                <td>{{item.nombre}}</td>
                <td>
                    @if (item.email) {
                        {{item.email}}
                    } @else {
                        <span class="sin-dato">Sin email</span>
                    }
                </td>
                <td>{{item.telefono}}</td>
            </tr>
            }
        </tbody>
    </table>
    </div>
</section>