<section>
    <a [routerLink]="'/home-admin'">Volver</a>
    <table>
        <thead>
            <th>Cliente</th>
            <th>Servicio</th>
            <th>Horario</th>
        </thead>
        <tbody>
            @for (item of turnos(); track $index) {
            <tr>
                <td>{{item.usuario?.nombre}}-{{item.usuario?.telefono}}</td>
                <td>{{item.servicio.tipo}}-${{item.servicio.precio}}</td>
                <td>De: {{item.fechaHoraInicio}}
                    A: {{item.fechaHoraFin}}</td>
                <td><button>Editar</button></td>
                <td><button>Eliminar</button></td>
            </tr>
            }
        </tbody>
    </table>
</section>