<section>
    <a [routerLink]="'/usuarios-admin'">Volver</a>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Direccion</th>
        </thead>
        <tbody>
            @for (item of peluqueros(); track $index) {
            <tr>
                <td>{{item.nombre}}</td>
                <td>{{item.email}}</td>
                <td>{{item.telefono}}</td>
                <td>{{item.direccion}}</td>
                <td><button [routerLink]="['/editar-peluquero-administrador', item.id]">Editar</button></td>
                <td><button (click)="eliminarPeluquero(item.id)">Eliminar</button></td>
            </tr>
            }
        </tbody>
        <a [routerLink]="'/alta-peluquero'">Agregar peluquero</a>
    </table>
</section>