<section>
    <a [routerLink]="'/usuarios-admin'">Volver</a>
    <table>
        <thead>
            <th>Email</th>
            <th>Clave</th>
        </thead>
        <tbody>
            @for (item of administradores(); track $index) {
            <tr>
                <td>{{item.email}}</td>
                <td>{{item.clave}}</td>
                <td><button>Editar</button></td>
                <td><button>Eliminar</button></td>
            </tr>
            }
        </tbody>
        <a [routerLink]="'/alta-administrador'">Agregar administrador</a>
    </table>
</section>