/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
    text-decoration: none;
    color: #485785;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-footer {
    margin-top: auto;
}